.box{
    background-color: white;
    width: 819px;
    height: 586px;
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
}
.form{
    position: absolute;
    top: 50%;
    
}

.textField{
    position: absolute;
    top: 50%;
    width: 400px;

}
.icon{
    transform: scale(1.8);
}
img{
    width: 100px;
}