.background2{
    width: 97%;
    height: 600px;
    padding: 2vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.all{
    width: 500px;
    height: 100%;
}
.name{
    display: flex;
    padding: 2vh;
    width: 500px;
    height: 50px;
}
.email{
    padding: 2vh;
}
.agegender{
    padding: 2vh;
}