.background3{
    width: 97%;
    padding: 2vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.seats{
    width: 900px;
    background-color: white;
}
.rowA{
    padding-left: 5vh;
    padding-right: 5vh;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.rowFront{
    
    padding-left: 5vh;
    padding-right: 5vh;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.seat{
    transform: scale(4);
}
