.rowinsidecard{
    display: flex;
    justify-content: space-between;
    
    margin: 1vh;
    background-color: #F2F2F2;
    padding: 1vh;

}
.flightId{
    padding: 2vh;
    display: flex;
    font-weight: bold;
}
.titleFlight{
    display: flex;
    width: 100%;
    background-color: #FEF2F4;
    font-weight: bold;
    color: black;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
.showFlight{
    width: 100%;
    height: 100%;
    background-color: #FFABAB !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.going{
    padding: 10px;
    display: flex;
    width: 25vh;
    height: 3vh;
    background-color: #FFABAB;
    border-radius: 10px;
    align-items: center;

}
.date{
    padding: 10px;
    display: flex;
    width: 20vh;
    height: 3vh;
    border-radius: 10px;
    align-items: center;
}
.insideDate{
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 15vh;
}
.takeoff{
    padding: 10px;
    display: flex;
    width: 25vh;
    height: 3vh;
    border-radius: 10px;
    align-items: center;
}
.insideTakeoff{
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 15vh;
}
.landing{
    padding: 10px;
    display: flex;
    width: 25vh;
    height: 3vh;
    border-radius: 10px;
    align-items: center;
}
.insideLanding{
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 15vh;
}
.flightHour{
    padding: 10px;
    display: flex;
    width: 25vh;
    height: 3vh;
    border-radius: 10px;
    align-items: center;
}
.insideFlightHour{
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 5vh;
}
.button{
    display: flex;
   justify-content: end;
   margin-right: 1vh;
}
.flight-button{
    width: 10vw;
   
}