.selectSeat-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(156, 148, 148);
}
.selectSeat-header{
    position: absolute;
    z-index: 99;
    top:9vh;
    min-width: 100vw;
    height: 8vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectSeat-header-left{
    cursor: pointer;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    color:black;
}
img + h3 {
    margin-left: 10px;
}
.selectSeat-body{
    position: relative;
    background-color: rgb(230, 230, 230);
    padding-top: 2vw;
    width: 100vw;
    height: 100%;
    display: flex;
    
}

.square{
    margin: .5vw;
    width: 5vw;
    height: 5vw;
    border-top-right-radius: .5vw;
    border-top-left-radius: .5vw;
    border: none;
    cursor: pointer;
    background-color: #FFABAB;
    font-weight: bold;
}

.square:focus:not(:hover) {
    background-color: #000000;
}

.square:hover{
    background-color: #000000;
}
.square:hover:not(:focus){
    background-color: #D14D72;
}
.board-column{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.board-row{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.selectSeat-flightBook{
    margin-top: 3vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin:1vw;

}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    font-size: .8vw;
    vertical-align: middle;
}
.box{
    margin: .5vw ;
    width: 5vw;
    height: 5vw;
    border: none;
    font-weight:bold;
    display: flex;
    color: rgb(204, 204, 204);
    justify-content: center;
    align-items: center;
}
.box.header,.board-row.header{
    height: 2vw;
}
span{
    display: flex;
    width: 3vw;
    height: 3vw;
}
.selectSeat-selected{
    width: 40%;
    height: 20vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectSeat-selected-box{
    width: 70%;
    height: 6vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}
.selectSeat-selected-box h2, .selectSeat-selected-box h3{
    margin:0 3vw 0 3vw;
}
